<div *ngIf="!error">
  <br>
  <br>
  <div class="titleDiv">
    <h1>Market Data</h1>
    <h4>Latest Data from Market: {{marketHistory[0].id}}</h4>
  </div>
  <br>
  <h2 class="marketName">{{marketHistory[0].name}}</h2>
  <app-market-data-table [marketHistory]="marketHistory"></app-market-data-table>
  <br>
  <!-- might build a graph of competing buy yes values. -->
</div>

<div *ngIf="error">
  <div class="titleDiv">
    <h1>Whoops... Failed to load page...</h1>
    <h3>Request for data failed with response code: {{errorStatus}}</h3>
    <h3>Message: {{errorMessage}}</h3>
  </div>
</div>
