@import '~@angular/material/theming';

@mixin navtabs-component-theme($paaw-theme) {

  //We define the primary and accent for easier use when theming the navtabs pieces.
  $primary: map-get($paaw-theme, primary);
  $accent: map-get($paaw-theme, accent);

  .mat-tab-link-container,
  .mat-tab-list,
  .mat-tab-links,
  .mat-tab-link {
    flex: 1 0.5 auto;
    background-color: mat-color($primary, 200);
  }
}
