<div *ngIf="!error && contractHistory != undefined">
  <br>
  <br>
  <div class="titleDiv">
    <h1>{{getMarketAndContractName()}}</h1>
  </div>
  <br>
  <app-contract-history-analysis [contractHistory]="contractHistory"></app-contract-history-analysis>
  <app-contract-history-chart-buy-yes
    [contractHistory]="contractHistory"
    [marketName]="marketName">
  </app-contract-history-chart-buy-yes>

  <br><br>
  <app-contract-history-table
    [contractHistory]="contractHistory">
  </app-contract-history-table>
</div>

<div *ngIf="error">
  <br>
  <br>
  <div class="titleDiv">
    <h1>Whoops... Failed to load page...</h1>
    <h3>Request for data failed with response code: {{errorStatus}}</h3>
    <h3>Message: {{errorMessage}}</h3>
  </div>
</div>
