<div *ngIf="!error">
  <br>
  <br>
  <div class="titleDiv">
    <h1>{{getMarketAndContractName()}}</h1>
    <h2>Contract ID: {{contractHistory[0].id}}</h2>
  </div>
  <br>
  <app-contract-history-table [contractHistory]="contractHistory"></app-contract-history-table>
</div>

<div *ngIf="error">
  <br>
  <br>
  <div class="titleDiv">
    <h1>Whoops... Failed to load page...</h1>
    <h3>Request for data failed with response code: {{errorStatus}}</h3>
    <h3>Message: {{errorMessage}}</h3>
  </div>
</div>
